body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h1 {
    text-align: center;
}

select, button {
    width: 90%;
    max-width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

video, img {
    width: 95%;
    max-width: 500px;
    height: auto;
    border: 2px solid #333;
    margin-bottom: 10px;
}

canvas {
    display: none;
}
